@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bg: rgba(229, 84, 115, 0.1);
    --btn: rgb(229, 84, 115);
}
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}


#btn {
    padding: 20px 43px;
    background-color: var(--btn);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 8px;
    margin-top: 32px;
}
span {
    color: rgb(229, 84, 115);
}



/* header section's style is here */
header .container{
    display: flex;
    height: 850px;
    background: rgba(229, 84, 115, 0.1);
    padding: 0 240px;
    justify-content: space-between;
    position: relative;
}
header .container .content {
    width: 730px;
    margin: 197px 0 147px 0 ;
}
header .container .content h1 {
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
    text-align: left;
}
header .container .content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-top: 32px;
}
header .container .img img{
    position: absolute;
    bottom: 0;
    right: 240px;
    border: 1px dashed rgba(0, 0, 0, 0.1);
}

/* feature section's style is here */
.feature {
    text-align: center;
    padding: 178px 240px 128px 240px;
}
.feature h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
}
.feature p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}
.feature .container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.feature .container .content div {
    height: 538px;
    width: 464px;
    margin-bottom: 32px;
}
.feature .container .content-1 div {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 78px;
    display: flex;
}
.feature .container .content-2 div {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 78px;
    display: flex;
}
.feature .container .content-2 img {
    width: 370px;
    height: 370px;
}
.feature .container .content-3 div {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 78px;
    display: flex;
}
.feature .container .content h5 {
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-transform: capitalize;
}

/* icons section's style is here */
.icons .container{
    height: 320px;
    margin: 0 240px 128px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icons .container div p {
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
}

/* hot deal section's style is here */
.deal .container {
    display: flex;
    gap: 186px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 390px 100px 429px;
    text-align: center;
}
.deal .container .content {
    margin-top: 130px;
}

.deal .container .content h3 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
.deal .container .content p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* instagram section's style is here */
.insta .container {
    text-align: center;
    margin:  128px 240px 128px 240px;
}
.insta .container h3 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
}
.insta .container p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px auto 48px auto;
    width: 700px;
}
.insta .container .img-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 128px;
}
.insta .container .form-container {
    background-image: url('images/latest-deals-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 0;
}
.insta .container .form-container p {
    margin-top: 16px;
}
.insta .container .form-container .form {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.insta .container .form-container .form input {
    padding: 22px 513px 22px 22px;
    border-radius: 8px;
}
.insta .container .form-container .form #btn {
    margin: 0;
}

/* footer section's style is here */
footer {
    background: rgb(17, 16, 16);
    text-align: center;
    padding: 128px 0;
}
footer h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    color: white;
    text-transform: capitalize;
}
footer p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: 24px auto 32px auto;
}
footer .rights {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}